<h1> <center> Welcome Online Attendance Management System</h1></center>
<h2> <center> Department Of Computer Science <h2></center>
<h3> <center> University Of Balochistan </h3> </center>
<center>
<%=image_tag("dprt.jpg", :alt=>"user", :class=>"round", :width=>"600px", :height=>"250")%></center>
